[Unit]
Description=triggering alert for %i
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/systemd-alerts/systemd-alerts.sh %i
